<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
    connectionString="Server=localhost\sqlserver2016;Database=Bookish;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>

