@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>The Bookish Library</h1>
    <p class="lead">Welcome to the Bookish Library, checkout our huge collection of "books" and register to borrow "books". </p>
    <p><a href="https://imgur.com/r/Otters" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Your Account","Login","Account")</h2>
        <p>
            Click here to login to see your account details, see what books you have on loan, renew your books on loan or request new books!
        </p>
        <p><a class="btn btn-default" href="https://www.google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Browse", "Index", "Books1")</h2>
        <p>
            Click here to browse our absolutely enormous collection of "books".
        </p>
        <p><a class="btn btn-default" href="https://wikipedia.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("What's on", "Index", "Home")</h2>
        <p>Here's a list of current and upcoming events on at the bookish library.</p>
        <p><a class="btn btn-default" href="https://www.bbc.co.uk">Learn more &raquo;</a></p>
    </div>
</div>